.injector-spider-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 720px;
  background-color: var(--background);
  padding: 2rem 0rem;
  justify-content: center;
  align-items: center;
}

.injector-spider-button {
  background-color: var(--secondary);
  color: var(--white);
  font-family: var(--font-family);
  border: none;
  padding: 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.injector-spider-text-footer {
  color: var(--text);
  font-size: 0.85rem;
  cursor: pointer;
}

.injector-spider-link {
  color: var(--link);
  text-decoration: underline;
  font-size: 0.85rem;
  cursor: pointer;
}

.injector-spider-title {
  color: var(--white);
}

.inject-spider-actions {
  display: flex;
  padding: 0px 10px;
}
