.injector-spider-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 720px;
  background-color: var(--background);
  padding: 2rem 0rem;
  justify-content: center;
  align-items: center;
}

.inject-spider-actions {
  display: flex;
  padding: 0px 30px;
  gap: var(--spacing-md);
}

.injector-spider-form {
  width: 100%;
}

.injector-spider-frame {
  display: flex;
  gap: 7px;
  cursor: pointer;
}

.injector-spider-header {
  display: flex;
  justify-content: left;
  gap: var(--spacing-md);
  width: 100%;
  align-items: center;
  margin-left: 50px;
}

.injector-circle-1 {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: var(--frame-control-color-1);
}

.injector-circle-2 {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--frame-control-color-2);
}

.injector-circle-3 {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--frame-control-color-3);
}

.injector-spider-header-title {
  font-size: 12px;
  font-weight: 500;
  inset: 0;
  letter-spacing: 0.32px;
  line-height: 12px;
  text-align: center;
  color: var(--frame-title-color);
  width: 500px;
}
