.injector-spider-button {
  background-color: var(--secondary);
  color: var(--white);
  font-family: var(--font-family);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
